/* desktop and above */
@media (min-width: 1280px) {
  #home {
    padding-top: 80px;
  }
  .navbar {
    background-color: transparent !important;
    transition: background-color 0.5s ease-in-out; /* Transición suave */
  }

  #page-home .navbar,
  #page-request-demo .navbar {
    padding: 1rem 6.4rem;
  }

  #home .row {
    display: flex;
  }
  #home .first-title {
    width: 100%;
  }
  #home .first-title h1 {
    font-size: 4rem;
    text-align: left;
  }
  #home .first-subtitle {
    max-width: none;
  }
  #home .first-subtitle h3 {
    font-size: 1.5rem;
    text-align: left;
    font-weight: 400;
    margin-top: 3rem;
    max-width: 72%;
  }

  .features span.features-divider {
    background-color: #2b8982;
    position: relative;
    height: 5px;
    width: 15%;
    display: block;
    margin: 3rem 0;
  }

  #home section {
    width: 45%;
  }

  #stats #home-top_stats {
    display: flex;
    flex-direction: row;
    max-width: 60%;
    margin: 2rem auto;
  }

  #stats #home-top_stats div:nth-child(1) {
    order: 2;
  }

  #stats #home-top_stats span.mini-separator:nth-child(2) {
    order: 3;
    transform: rotate(90deg);
    width: 5%;
  }

  #home-background {
    background: rgb(25, 28, 33);
    background: -moz-linear-gradient(
      180deg,
      rgba(25, 28, 33, 1) 0%,
      rgba(25, 28, 33, 1) 90%,
      rgba(25, 28, 33, 0) 90%
    );
    background: -webkit-linear-gradient(
      180deg,
      rgba(25, 28, 33, 1) 0%,
      rgba(25, 28, 33, 1) 90%,
      rgba(25, 28, 33, 0) 90%
    );
    background: linear-gradient(
      180deg,
      rgba(25, 28, 33, 1) 0%,
      rgba(25, 28, 33, 1) 90%,
      rgba(25, 28, 33, 0) 90%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#191c21",endColorstr="#191c21",GradientType=1);
  }

  #stats {
    margin-top: 60px;
  }

  #stats #home-top_stats {
    margin: 0 auto;
  }

  #stats #home-top_stats div:nth-child(3) {
    order: 4;
  }

  #stats #home-top_stats span.mini-separator:nth-child(4) {
    order: 5;
    transform: rotate(90deg);
    width: 5%;
  }

  #stats #home-top_stats div:nth-child(5) {
    order: 6;
  }

  #stats #home-top_stats span.mini-separator:nth-child(6) {
    order: 1;
    transform: rotate(90deg);
    width: 5%;
  }

  #stats #home-top_stats span.mini-separator.invisible {
    display: none;
  }

  #stats #home-top_stats span.mini-separator:nth-child(6) {
    order: 1;
    transform: rotate(90deg);
    width: 5%;
  }

  .first-section {
    background-color: transparent;
  }

  #home-second-part .home-top {
    background: transparent;
  }

  .full-height.first-section .home-buttons_container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3rem auto 3rem 0;
    max-width: 100%;
  }

  .page-platform-education .full-height.first-section .home-buttons_container {
    justify-content: flex-start;
    gap: 20px;
  }


  .full-height.first-section .home-buttons_container a {
    margin: 0;
  }

  .full-height.first-section .home-buttons_container a.cta-button_secondary {
    max-width: 160px;
  }

  .full-height.first-section .home-buttons_container .cta-button_primary {
    max-width: 200px;
  }

  #home section#video-part {
    width: 100%;
    /* padding: 0 8rem; */
  }

  #home section#video-part h1 {
    font-size: 3rem;
    font-weight: 600;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  #video-part .video-container {
    width: 60%;
  }
  #home section#video-part div:last-child {
    width: 50%;
  }

  #home section#video-part .video-part_block,
  #video-part .video-text-container {
    display: flex;
  }

  #video-part .video-part_card video {
    width: 50%;
  }

  #home section#video-part .video-part_block {
    align-items: center;
  }

  #video-part .video-text-container {
    flex-direction: column;
    align-items: flex-start;
  }
  #video-part .video-text-container a {
    order: 2;
  }
  #video-part .video-text-container a img {
    transform: rotate(-90deg);
  }

  /* card */
  #home section#video-part .video-part_card {
    width: 100% !important;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 2rem;
    background-size: 40%;
    background-position-x: right;
    margin-top: 4rem;
    margin-bottom: 4rem;
  }

  #home section#video-part .video-part_card img {
    width: 580px;
  }

  #home section#video-part .video-part_card p {
    font-size: 1.25rem;
    width: 50%;
  }
  /* card */

  /* navigagtion */

  #page-request-demo .navbar {
    background-color: #1a1c21 !important; /* Cambia este color según lo que desees */
    box-shadow: inset 0px -1px 0px rgba(255, 255, 255, 0.05);
  }

  #page-request-demo .navbar.scrolled {
    background-color: rgba(26, 28, 33, 0.9) !important; /* Cambia este color según lo que desees */
    box-shadow: inset 0px -1px 0px rgba(255, 255, 255, 0.05);
  }

  #page-home .navbar.scrolled #login:hover {
    border-color: white;
    -webkit-box-shadow: 0 5px 15px 0 rgba(43, 137, 130, 0.3);
    box-shadow: 0 5px 15px 0 rgba(43, 137, 130, 0.3);
  }

  #page-request-demo .navbar .nav-link#contact-us,
  #page-request-demo .navbar .nav-link#login,
  #page-request-demo .navbar .nav-link#free-signup {
    color: #fff !important; /* Cambia este color según lo que desees */
  }
  .login-button {
    display: none;
  }

  .navbar.scrolled {
    background-color: rgba(26, 28, 33, 0.9) !important; /* Cambia este color según lo que desees */
  }
  .navbar .nav-link#login,
  .navbar .nav-link#free-signup {
    color: #1a1c21 !important; /* Cambia este color según lo que desees */
  }
  .navbar.scrolled .nav-link#contact-us,
  .navbar.scrolled .nav-link#login,
  .navbar.scrolled .nav-link#free-signup {
    color: #fff !important; /* Cambia este color según lo que desees */
  }
  /* navigagtion */

  /* Steps */
  #steps {
    display: flex;
    flex-wrap: wrap;
    background-image: url("../img/background-steps.svg");
    background-repeat: no-repeat;
    background-position: center;
    justify-content: center;
  }
  #steps .step {
    width: 30%;
  }
  #steps h1 {
    font-size: 3rem;
    width: 100%;
  }
  #steps h1 span {
    display: inline-block;
  }

  /* Steps */

  /* Buttons */
  .section-with_buttons.special {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 6rem;
    padding-bottom: 6rem;
    width: 60%;
    margin: 0 auto;
  }
  .section-with_buttons.special .cta-button_primary {
    max-width: 250px;
    height: 68px;
    margin: 0 1rem;
    border-radius: 20px;
    padding-top: 1.3rem;
    padding-bottom: 1.3rem;
  }

  .section-with_buttons.special a.cta-button_secondary {
    margin: 0 1rem;
    border-radius: 20px;
    height: 68px;
    max-width: 160px;
    border: 2px solid #d5d7da;
    color: #414651;
    display: flex;
    align-items: center;
    font-weight: 500;
    justify-content: center;
  }
  .section-with_buttons.special a.cta-button_secondary:hover {
    border-color: #2b8982;
    -webkit-box-shadow: 0 5px 15px 0 rgba(43, 137, 130, 0.3);
    box-shadow: 0 5px 15px 0 rgba(43, 137, 130, 0.3);
  }

  /* Platform */
  #platform {
    display: flex;
    justify-content: space-around;
    gap: 0;
    width: 75%;
    margin: 0 auto;
    overflow: hidden;
  }

  #platform .box {
    flex: 1;
    max-width: 150px;
    height: 550px;
    overflow: hidden;
    position: relative;
    background-color: #333;
    transition: all 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 24px;
  }

  #platform .box h1 {
    position: absolute;
    color: #fff;
    font-size: 2rem;
    font-weight: 600;
    transform: rotate(270deg);
    transform-origin: center;
    white-space: nowrap;
    transition: transform 0.3s ease;
    bottom: 120px;
  }

  #platform .box p {
    position: absolute;
    bottom: -50px;
    left: 0;
    right: 0;
    color: #fff;
    text-align: center;
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.3s ease;
    padding: 1rem;
  }

  #platform .box:before {
    content: "";
    width: 100%;
    height: 100%;
    background: linear-gradient(
      to bottom,
      rgba(234, 0, 0, 0) 0%,
      rgba(0, 0, 0, 1) 100%
    );
  }

  #platform .box.first-box {
    background: url("../img/platform-compliance-training.jpg");
    background-size: cover;
    background-position: center;
  }
  #platform .box.first-box h1 {
    bottom: 149px;
  }
  #platform .box.second-box h1 {
    bottom: 167px;
  }
  #platform .box.third-box h1 {
    bottom: 140px;
  }
  #platform .box.fourth-box h1 {
    bottom: 160px;
  }
  #platform .box.fifth-box h1 {
    bottom: 200px;
  }
  #platform .box.second-box {
    background: url("../img/platform-onboarding.jpg");
    background-size: cover;
    background-position: center;
  }
  #platform .box.third-box {
    background: url("../img/platform-partner-training.jpg");
    background-size: cover;
    background-position: center;
  }
  #platform .box.fourth-box {
    background: url("../img/platform-sales-enablement.jpg");
    background-size: cover;
    background-position: center;
  }
  #platform .box.fifth-box {
    background: url("../img/platform-upskill-reskill.jpg");
    background-size: cover;
    background-position: center;
  }

  #platform .box {
    flex: 1;
    max-width: 150px;
    height: 550px;
    overflow: hidden;
    position: relative;
    background-color: #333;
    transition: all 0.5 ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 24px;
  }

  #platform .box:hover {
    cursor: pointer;
  }

  #platform .box h1 {
    position: absolute;
    color: #fff;
    font-size: 2rem;
    font-weight: 600;
    transform: rotate(270deg);
    transform-origin: center;
    white-space: nowrap;
    transition: all 0.8s ease;
    bottom: 120px;
  }

  #platform .box p {
    position: absolute;
    bottom: -50px;
    left: 0;
    right: 0;
    color: #fff;
    text-align: center;
    opacity: 0;
    transform: translateY(20px);
    transition: all 1s ease;
    padding: 1rem;
  }

  #platform .box:before {
    content: "";
    width: 100%;
    height: 100%;
    background: linear-gradient(
      to bottom,
      rgba(234, 0, 0, 0) 0%,
      rgba(0, 0, 0, 1) 100%
    );
  }

  #platform .box.expanded {
    flex: 0 0 390px;
    max-width: 100%;
  }

  #platform .box.expanded h1 {
    bottom: 190px;
    transform: rotate(360deg);
  }

  #platform .box.expanded p {
    opacity: 1;
    transform: translateY(0);
    bottom: 10px;
  }

  /* Platform */

  /* Platform Title*/
  #platform-title {
    width: 100%;
  }
  #platform-title h1 {
    font-size: 3rem;
  }
  #platform-title {
    font-size: 1.25rem;
  }
  /* Platform Title*/

  /* Experts*/
  #experts {
    width: 100%;
    padding: 0;
    justify-content: space-around;
  }
  #experts {
    display: flex;
    flex-wrap: wrap;
  }
  #experts h1 {
    text-align: center;
    font-size: 3rem;
    width: 100%;
  }
  #experts .experts-card {
    background-color: transparent;
    width: 40%;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    box-shadow: none;
    border: 0;
  }

  #experts .experts-card video {
    width: 100%;
    border-radius: 32px;
    max-width: none;
    overflow: hidden;
  }
  #experts .experts-card div {
    display: flex;
    flex-wrap: wrap;
    z-index: 1;
  }
  #experts .experts-card h3 {
    width: 100%;
    margin-top: 1rem;
    color: #0e4b47;
    font-size: 1.5rem;
  }
  #experts .experts-card p {
    color: #0e4b47;
    font-size: 1.25rem;
  }
  #experts .experts-card a {
    display: block;
    /* max-width: 50px; */
    /* margin: 0 0 0 auto; */
    /* margin-bottom: 1rem; */
  }
  .modal {
    background: #00000091;
  }
  .modal-dialog .modal-content {
    background: transparent;
  }
  .modal-dialog video {
    max-width: 80%;
    margin: 0 auto;
  }

  /* Experts*/

  /* Features */
  #features {
    display: flex;
    flex-wrap: wrap;
  }
  #features .features {
    align-items: center;
    /* margin-top:2rem; */
    margin-bottom: 2rem;
  }

  #features .col-12 {
    order: unset;
  }

  #features .features .features-text,
  #features .features img {
    min-width: auto;
    max-width: 100%;
    margin: 0;
  }

  #features .features img {
    width: 100%;
  }
  #features .features .features-text {
    width: 38%;
    min-width: auto;
    max-width: auto;
  }
  #features .features .features-text p {
    font-size: 1.25rem;
    line-height: 1.5;
  }
  /* #features .features:nth-child(odd) .features-text {
    order: 1;
  } */
  /* Features */

  /* FAQS */
  #faqs .accordion {
    width: 60%;
    margin: 0 auto;
  }
  #faqs .accordion-flush > .accordion-item {
    margin-bottom: 1rem;
  }
  /* FAQS */

  /* Footer */
  footer {
    display: flex;
    flex-wrap: wrap;
  }
  footer h1 {
    font-size: 3rem;
    text-align: left;
  }
  footer p {
    width: 100%;
  }

  footer div:first-child {
    width: 50%;
  }
  footer div.footer-navigation {
    padding-top: 1rem;
    width: 30%;
  }
  footer div.footer-social {
    width: 20%;
  }
  footer div.footer-social ul {
    display: flex;
    flex-direction: column;
  }
  footer div.footer-social ul li {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  footer div.footer-social #footer-to-top {
    order: 1;
    margin: 1rem auto 2rem auto;
  }
  footer .footer-navigation ul li {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  /* Footer */

  /* Thank you */
  #thankyou-container {
    margin-top: 10rem;
    margin-bottom: 10rem;
    min-height: 50vh;
  }
  #thankyou-container .col-lg-8 {
    display: flex;
  }
  #thankyou-container img {
    width: 400px;
  }
  #thankyou-container .text-container {
    padding-left: 3rem;
    text-align: left;
  }

  #thankyou-container a {
    border: 1px solid #d5d7da;
    border-radius: 20px;
    text-align: center;
    padding: 1rem;
    max-width: 230px;
  }

  /* Thank you */
  #home-second-part .home-top div {
    margin-bottom: 0;
  }
}
/* desktop and above */
