@font-face {
    font-family: 'gt_walsheim_problack';
    src: url('../fonts/gt-walsheim-pro-black-webfont.woff2') format('woff2'),
         url('../fonts/gt-walsheim-pro-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'gt_walsheim_probold';
    src: url('../fonts/gt-walsheim-pro-bold-webfont.woff2') format('woff2'),
         url('../fonts/gt-walsheim-pro-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'gt_walsheim_promedium';
    src: url('../fonts/gt-walsheim-pro-medium-webfont.woff2') format('woff2'),
         url('../fonts/gt-walsheim-pro-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'gt_walsheim_proregular';
    src: url('../fonts/gt-walsheim-pro-regular-webfont.woff2') format('woff2'),
         url('../fonts/gt-walsheim-pro-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    margin: 0;
    padding: 0;
    color: #fff;
    background-color: #071f1e;
  }
p{
    font-size: 1.5rem;
}
  section {
    height: 100vh;
    position: relative;
  }

  .section-one {
    background-color: #000;
    text-align: center;
  }

  .section-one img {
    width: 400px;
  }

  .section-one h1 {
    font-family: "gt_walsheim_probold", sans-serif;
    font-size: 1.4rem;
    margin: 0;
    padding: 0;
  }

.section-two{
    background-color: #071f1e;
    text-align: center;
    padding:10rem 0;
    color:#fff;
    position: relative;
    overflow: hidden;
}

.section-two .header-logo{
    width:300px;
    margin-bottom: 2rem;;
}

.section-two p{
    font-family: "gt_walsheim_probold", sans-serif;
    font-size: 1.4rem;
    margin: 0;
    padding: 0;
}
.section-two .container {
    position: relative;
    z-index: 2;
}
.section-three img {
    max-width: 100%;
    width: 1320px;
    display: block;
    margin: 0 auto;
}

.section-four{
    background-image: url("../img/tablet.png");
    background-position: -120% center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #fff;
}

.section-four h2, .section-four p {
    color: #3a3a3a;
}

.section-five h2 {
    text-align: center;
    margin-bottom:2rem;
}

.section-five ul {
    display:flex;
    list-style: none;
    padding: 0;
    margin: 0   ;
}

.section-five ul h3 {
    margin:2rem 0;
    text-align: center;
}

.section-five ul p {
    margin:1rem 0;
    text-align: center;
    font-size: 1.2rem;
    padding:0.5rem;
}

.section-five img, .section-six img , .section-seven img {
    max-width: 100%;
    margin:0 auto;
    display: block;
}

.section-seven img{
    height: 800px;
    margin:0 auto;
    display: block;
}